* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: beige;
}

.app {
  width: 960px;

}

#image-container img {
  width: 33%;
  height: auto;
}

canvas {
  width: 500px;
  height: 500px;
  border: 1px dotted blue;

}

#container{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#container img{
  flex: 1;
  margin: 20px;
  width: 200px;

}
