* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #C4DFE3;
  text-align: center;
}

.app {
  width: 960px;

}

#image-container img {
  width: 33%;
  height: auto;
  height: 500px;
}

canvas {
  width: 500px;
  height: 500px;
  border: 1px dotted blue;
  border-color: black;
}
/*#title {
  position: fixed;
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.2);
}
#title {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
}*/


}
.chart-bar {
  color: #15D0A6;
}

#container{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#container img{
  flex: 1;
  margin: 20px;
  width: 200px;

}
